
@{
    ViewBag.Title = "Index";
}

@model List<ASPMVCPROJ_5a.Models.Product>

@if (TempData["success"] != null)
{
    @Html.Raw(TempData["success"])
}

<h2>Index</h2>

@Html.ActionLink("Add Product", "AddProduct", "Test", new { area = "" }, new { @class = "btn btn-primary" })

<br />
<br />

<table class="table" id="mytable">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Category</th>
            <th scope="col">Product Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <th scope="row">@d.Id</th>
                <td>@d.pname</td>
                <td>@d.pcat</td>
                <td>@d.price</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = d.Id }) |
                    @*@Html.ActionLink("Details", "Details", new { id = d.Id }) |*@
                    @Html.ActionLink("Delete", "DeleteProduct", new { id = d.Id }, new { onclick = "return confirm('Are you sure?')" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.4/af-2.7.0/b-3.1.1/b-html5-3.1.1/b-print-3.1.1/datatables.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.4/af-2.7.0/b-3.1.1/b-html5-3.1.1/b-print-3.1.1/datatables.min.js"></script>

    <script>
        $(document).ready(function ()
        {
           $('#mytable').DataTable
           ({
                dom: 'Bftip',
                buttons: ['copy', 'csv', 'pdf', 'print']
           });
        });
    </script>
}

@*
npm install --save pdfmake
npm install --save datatables.net-dt
npm install --save datatables.net-editor-dt
npm install --save datatables.net-autofill-dt
npm install --save datatables.net-buttons-dt
npm install --save datatables.net-scroller-dt
npm install --save datatables.net-select-dt
*@